.wrapper {
    width: 100%;
    height: 80vh;
    background: #fff;
}
.method-title {
    padding: 10px;
    color: blue;
}
.method-heading {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.method-para {
    padding: 20px;
    font-size: 18px;
}
.syntax {
    position: relative;
    left: 25px; 
    font-size: 15px;
    background: rgb(83, 83, 83);
    width: 500px;
    padding: 8px;
    margin: -9px;
    color: #fff;
}

/* Media queries */
@media all and (max-width: 600px) {
    .syntax {
        width: 90%;
    }
}
